@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #111;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
input:active,
input:focus {
  outline: none;
  box-shadow: initial !important;
}

a {
  transition: all 0.2s linear 0s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  transition: all 0.2s linear 0s;
}

p {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a4a4a4;
}

.container {
  margin: 0 auto;
}

::-webkit-scrollbar-thumb:hover {
  background: #013d78;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1360px) {
  .container {
    max-width: calc(100% - 180px);
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: calc(100% - 640px);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
}
header .header__logo {
  width: 190px;
}
header .header__logo img {
  width: 100%;
  height: auto;
}
header .header__menu {
  display: flex;
  align-items: center;
}
header .header__menu ul {
  display: flex;
  align-items: center;
}
header .header__menu ul li {
  margin-left: 54px;
}
header .header__menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
header .header__menu .landing__button {
  margin-left: 54px;
}

.banner {
  position: relative;
}
.banner__img img {
  width: 100%;
  height: auto;
}
.banner__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner__icon {
  width: 80px;
  height: 80px;
  margin-top: 42px;
  transition: 0.2s linear;
  cursor: pointer;
}
.banner__icon:hover {
  transform: scale(1.1);
}
.banner__icon img {
  width: 100%;
}

.landing__button {
  background: #01e3b2;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  padding: 12px 30px 14px;
  border: none;
  border-radius: 306px;
  font-family: "Manrope", sans-serif !important;
  transition: 0.2s linear;
}
.landing__button:hover {
  opacity: 0.85;
}
.landing__sub--title {
  color: #01e3b2;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 2.4px;
  word-wrap: break-word;
}
.landing__title--h2 {
  color: white;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  word-wrap: break-word;
}/*# sourceMappingURL=style.css.map */